#head.container
  .row
    .twelve.columns
      %h1= @illustration.name
#content.container
  .row
    .eight.columns
      %p#notice= notice
      %h2= @illustration.alt
      .image
        = image_tag @illustration.attachment.url(:normal), :class => 'image-view'

      = link_to 'Edit', edit_illustration_path(@illustration)
      \|
      = link_to 'Back', illustrations_path
