.row
  .eight.columns
    = form_for [@manual,@chapter], :html => { :class => 'nice custom' } do |f|
      -if @chapter.errors.any?
        #error_explanation
          %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
          %ul
            - @chapter.errors.full_messages.each do |msg|
              %li= msg
      .row
        .nine.columns
          .field
            = f.label :title
            = f.text_field :title, :class => 'input-text large'

        .three.columns
          .field
            = f.label :chapter_no
            = f.text_field :chapter_no, :type => 'number', :class => 'input-text small'

      %dl.tabs.contained
        %dd
          %a.active(href="#source") Source
        %dd
          %a(href="#preview") Preview
        %dd
          %a(href="#image") Illustrations
      %ul.tabs-content.contained
        %li.active#sourceTab
          = f.text_area :content, :class => 'max-width', :rows => 30
          #chapter_editor
        %li#previewTab.editorTab
          #previewPane
        %li#imageTab.editorTab
          #imageList
            %ul.image-list
              - for illustration in Illustration.all
                %li.image{:id => illustration.id, :'data-url' => illustration.attachment.url(:normal), :'data-alt' => illustration.alt}
                  = image_tag(illustration.attachment.url(:tiny))
                  .image-info
                    .title= illustration.name
                    .url= illustration.attachment.url(:normal)
      %script
        :plain
          jQuery(window).load(initChapterEditor);

      .actions
        = f.submit 'Save', :class => 'nice medium radius blue button'
  .four.columns
    %h2 Quick Ref
    = textile_help

