<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<link rel="icon" 
      type="image/png" 
      href="/favicon.png">

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "LiveLink Manuals" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
<style>
body {
	background: white;
}
#head H1 {
	text-shadow: none !important;
	color: black;
}
.chapter-break {
	page-break-before: always;
	visibility: hidden;
}
H2, H3, H4, H5 {
	page-break-after: avoid;
}
TABLE {
	page-break-inside: avoid;
}
.edit-link, .pdf-link {
	display: none;
}
.toolbar {
	display: none;
}
#head {
	background: white;
	border: none;
	display: none;
}
#content .row .eight.columns {
	width: 100% !important;
}
hr.chapter-1 { display: none; }
.summary { display: none; }
.contents-list {
	display: none;
}
</style>
</head>
<body>
<%= yield %>
</body>
</html>
